@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --veryDarkBlue: hsl(238, 29%, 16%); /* TEXT */
    --softRed: hsl(14, 88%, 65%);   /* TEXT */
    --softViolet: hsl(273, 75%, 66%); /* BackGround */
    --softBlue: hsl(240, 73%, 65%); /* BackGround */
    --veryDarkGrayishBlue: hsl(237, 12%, 33%); /* TEXT */
    --darkGrayishBlue: hsl(240, 6%, 50%); /* TEXT */
    --lightGrayishBlue: hsl(240, 5%, 91%); /* DIVIDER */
 }

 html {
    padding: 0;
    margin: 0;
 }

 body {
    font-family: 'Kumbh Sans', sans-serif;
    width: auto;
    background-image: linear-gradient(to left, var(--softViolet), var(--softBlue));
 }
 .page {
    display: flex;
    justify-content: center;
    min-height: 80vh;
 }
 .image {
    display: flex;
    border: solid 1px blue;
    width: auto;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position: 140% 90%;
    background-repeat: no-repeat;
 }
 .woman-image {
    width: 80%;
    height: 60%;
    margin-right: 5%;
    padding-top: 10%;
    margin-left: 5%;
 }
 .box-image {
    height: 150px;
    margin-left: -10%;
 }
 .accordion {
    border: solid 1px red;
    width: 40%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1% 3%;
 }
 .faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    border-bottom: solid 1px var(--lightGrayishBlue);
 }
.faq-title {
    font-weight: 400;
}

 .down-icon, .up-icon {
    width: 10px;
    height: 10px;
    cursor: pointer;
 }

 .up-icon {
    margin-top: -10%;
    transform: rotate(180deg);
 }

 .hidden {
    display: none;
 }

 @media only screen and (max-width: 600px) {
    html {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        width: auto;
    }
    .page {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .accordion {
        width: 90%;
        border-radius: 10px;
    }
    .image {
        display: none;
    }
    .box-image {
        margin: 0;
    }
    h1 {
        text-align: center;
    }
  }